<% if Event.all.any? %>
  <% Event.all.each do |event| %>
    <%= link_to event.name, event_path(event) %>
    <%= link_to "Edit #{event.name}", edit_event_path(event) %>
    <%= link_to "Delete #{event.name}", event_path(event), method: :delete %>
	<%= link_to "Review #{event.name}", new_event_review_path(event) %>
	<h3>Reviews for <%= event.name %></h3>
   <% if event.reviews.any? %>
	 <ul>
	   <% event.reviews.each do |review| %>
		 <li>
		   <%= review.thoughts %>, <strong><%= review.rating %></strong>/5
		 </li>
	   <% end %>
	 </ul>
   <% else %>
	 <p>No reviews.</p>
   <% end %>
  <% end %>
<% else %>
  <h1>No events yet</h1>
<% end %>

<a href="<%=new_event_path%>">Add an Event</a>
